@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Abel);

@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color:#fff;
	color:#323232;
	font-family: 'Roboto', sans-serif; font-weight:400;
	font-size:13px;
	line-height:17px;
}
html * {
 outline:none;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration:none;}

a:hover{text-decoration:none !important;color:#000 !important;}
outline{
	border:0;
}
.lft{
	float:left;
}
.rgt{
	float:right;
}
.clear{
	clear:both; 
	line-height:0;
	 font-size:0;
	 }

/********* Class wise css starts ************/

.top-header {
    font-family: 'Abel', sans-serif !important;
}


.header
{ background:#1789ce;padding: 10px;}

.sign-in {
    background: #eee none repeat scroll 0 0; padding: 10px;box-shadow: 0px 0px 5px #A19999;font-size: 16px;
}

.header h1 {
    margin: 0;font-family: 'Abel', sans-serif !important; font-weight:400;
}

.sign-in-form {
    margin: 18px;
}

input {
    display: block;
    margin-bottom: 14px;
    width: 200px;
}

.sign-in-form > input {
   border-color: -moz-use-text-color -moz-use-text-color #0d73b1;
    border-style: none none solid;
    border-width: 0 0 1px;
    line-height: 28px;
    padding-left: 5px;
    width: 100%;
}



.sign-in-form > input[type="submit"]
{background: #ec7a00 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    line-height: 34px;
    margin-top: 14px;
    text-align: center;
    width: 100%;}
	
	
	.social-login {
    margin: 0 auto;
    width: 100%;
}

.social-login > .google
{ background: #e40001 none repeat scroll 0 0;
    border: medium none;
color: #FFF;
line-height: 36px;
margin: 14px auto;
text-align: center;
width: 88%;}


.social-login >  .facebook
{ background: #3574c3 none repeat scroll 0 0;
   border: medium none;
color: #FFF;
line-height: 36px;
margin: 14px auto;
text-align: center;
width: 88%;}
	
	.sign-up {
    color: #888;
    float: left;
}

	.forget {
    color: #888;
    float: right;
}

.header h1 {
    color: #fff;
    font-size: 22px;
    margin: 0; float:left;
}

.fa-ellipsis-v {
    color: #fff;
    float: right;
    line-height: 29px !important;
    margin: 0;
    padding: 0;
}

.profile p {
    float: left;
    margin: 0 auto;
    text-align: center;
    width:100%;
}

.welcome p {
    font-size: 15px;
    line-height: 30px;
    margin-top: 59px;
    text-align: center;
}

.welcome input {
    margin: 0 auto; background:#45bb81; color:#FFF; border-bottom:2px solid #137d49;line-height: 31px; border-left: 0 none;
    border-top: 0 none;  border-right: 0 none;
}

.skip-jobs {
   background: #3574c3 none repeat scroll 0 0;
    bottom: 0;
  
    font-size: 17px;
    left: 0;
    line-height: 45px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%; color:#fff
}

.skip-jobs a
{  color: #fff; }

.profile img {
    display: block;margin: 0 auto; width: 100%;padding:20px;
}

.text {
   display: block;
    float: left;
	    font-size: 16px;
    margin-top: 17px;
}

.profile input {
    border-color: -moz-use-text-color -moz-use-text-color #0d73b1;
    border-style: none none solid;
    border-width: 0 0 1px;
    line-height: 28px;
    padding-left: 5px;
    width: 100%; margin-bottom:10px;
}

.sign-in-form > p {
    margin-top: 20px;
}

.sign-in-form input[type="radio"] {
    float: left;
    width: 20px;
}

.fa-align-justify {
    margin-right: 8px;
}

.profile h3 {
    font-size: 19px;
    text-indent: 15px; color:#1789cf
}
.red
{ color:#f00 !important;}
.video-button {
   display: block;
    float: left;
    margin: 4px;
    width: 45% !important;
    border-bottom: none !important;
    box-shadow: 3px 3px 0px 0px #DDD6D6;
}

input[type="checkbox"] {
    float: left;
    width: 20px;
}
.checker {
    margin-top: 21px;
}

#form {
    margin-top: 12px;
    width: 100%;
}

#form select
{ width: 100%; border-bottom:1px solid #1789cf;border-left: 0 none;
    border-top: 0 none;  border-right: 0 none;}
	
	

.s-jobs ul li
{display: block;
background: transparent url("../images/tick.png") no-repeat scroll 26px 0px;
padding-left: 85px;
border-bottom: 1px solid #EEE;
padding-bottom: 15px;}

.s-jobs h4 {
    display: block;
}
.s-jobs p {
     display: block !important;
    float: none;
    text-align: left;
    text-indent: 0;
}

.sign-in-button > input[type="submit"] {
    background: #EC7A00 none repeat scroll 0px 0px;
    border: medium none;
    color: #FFF;
    line-height: 34px;
    margin-top: 14px;
    text-align: center;
    width: 100%;
}